<script class="userscript" type="text/plain"
        data-name="Template Name"
        data-description="Short description here"
        data-version="0.1.0"
        data-namespace="your.namespace"
        data-match="*://*/*"
        data-grant="none">
/*
// You can use placeholders like {{name}} and {{description}} below.
// They will be replaced with the values from the data-* attributes above
// when the page displays and copies the script.
*/

// ==UserScript==
// @name         {{name}}
// @description  {{description}}
// @version      {{version}}
// @namespace    {{namespace}}
// @match        {{match}}
// @grant        {{grant}}
// ==/UserScript==

(function() {
  'use strict';
  // Your code here…
})();
</script>
